.block {
    background: red;
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    border: 2px solid red !important;
    user-select: none;
}

.selected {
    border: 2px solid white !important;
}